{{#extend "default"}}
  {{#content "main"}}

    <h3>{{title}}</h3>
    <h3>{{description}}</h3>
    <!--{{#each collections.tinKinhTe}}
      <h3> <a href="/{{path}}" >{{this.title}}</a>  </h3>
    {{/each}}-->

    <ul>
    {{#each pagination.files}}
      <li>
        <h2><a href="/{{path}}" rel="bookmark">{{ title }}</a></h2>
        {{{this.description}}}
      </li>
    {{/each}}
    </ul>

    {{#if pagination}}
      <nav class="pagination">
        {{#if pagination.next}}
          <a href="/{{removeIndex pagination.next.path}}" class="btn">Next &gt;</a>
        {{/if}}

        {{#if pagination.previous}}
          <a href="/{{removeIndex pagination.previous.path}}" class="btn">&lt; Prev</a>
        {{/if}}
      </nav>
    {{/if}}
    <h4> End of here </h4>
  {{/content}}
{{/extend}}
