{{#extend "body"}}

  {{#content "main"}}
	<div id="s4-mainarea1" class="s4-pr s4-widecontentarea">


<div class="hMain">
<div class="hMain1">
<div class="hlOut">
<div class="hlOTop">
   {{#block "home-top-left"}}
   {{> homeTopLeft}}
   {{/block}}


   {{#block "home-right-column"}}
   {{> homeRightColumn}}
   {{/block}}

</div>
<div class="hlOBot">

  {{#block "home-bottom-left"}}
  {{> homeBottomLeft}}
  {{/block}}

  {{#block "home-bottom-right"}}
  {{> homeBottomRight}}
  {{/block}}


</div>
</div>

</div>
</div>
	{{/content}}
{{/extend}}
