<style>
	.style-ul li{
		list-style: disc;
	    margin-left: 15px;
    	line-height: 20px;
	}
</style>
<div class="hRight">

	<menu class="ms-SrvMenuUI">
		<ie:menuitem id="MSOMenu_Help" iconsrc="/_layouts/images/HelpIcon.gif" onmenuclick="MSOWebPartPage_SetNewWindowLocation(MenuWebPart.getAttribute('helpLink'), MenuWebPart.getAttribute('helpMode'))" text="Help" type="option" style="display:none">

		</ie:menuitem>
	</menu>
	<div class="wpgioithieu">

		<table class="s4-wpTopTable" border="0" cellpadding="0" cellspacing="0" width="100%">
			<tbody>
				<tr>
					<td valign="top">
						<div webpartid="00000000-0000-0000-0000-000000000000" haspers="true" id="WebPartWPQ3" width="100%" class="ms-WPBody noindex" onlyformepart="true" allowdelete="false" style="">
							<table id="ctl00_PlaceHolderMain_g_30177a82_2ef5_4214_a072_2171f1075900" cellpadding="0" cellspacing="0" border="0" width="100%">
								<tbody>
									<tr>
										<td>



											<!-- <link type="text/css" href="/_CONTROLTEMPLATES/LacViet.CMS.ViewPageManager/css/style_left_menu.css" rel="stylesheet" /> -->


											<script type="text/javascript">
												var jLeftMenu = jQuery.noConflict();
												jLeftMenu(function($) {

													$(document).ready(function() {

														$('div.ms-navheader').each(function() {
															var childs = $(this).siblings('ul');
															if (childs.html() == null || childs.html() == "")
																$(this).attr("onclick", "#");

														});

														var CurrentPath = jLeftMenu.trim(jLeftMenu("div#LeftMenuWebName").text());
														var CurrentHomeChild = jLeftMenu("a.leftsubmenu[href*='" + CurrentPath + "']");
														CurrentHomeChild.parent().parent().parent().addClass("classshow");

													});


													$("div.ms-navheader").mouseover(function() {

														$(this).addClass("heading-hover");

													}).mouseout(function() {
														$(this).removeClass("heading-hover");
													});
													$("div.ms-navheader-icon").mouseover(function() {
														$(this).addClass("heading-hover");

													}).mouseout(function() {
														$(this).removeClass("heading-hover");
													});
													$("div.ms-navItem").mouseover(function() {
														$(this).addClass("ms-navItem-hover");
													}).mouseout(function() {
														$(this).removeClass("ms-navItem-hover");
													});
													$("div.ms-navItem-icon").mouseover(function() {
														$(this).addClass("ms-navItem-hover");
													}).mouseout(function() {
														$(this).removeClass("ms-navItem-hover");
													});
												});
											</script>
											<div id="LeftMenuWebName" style="display:none">
												/Pages/default.aspx
											</div>
										


										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</td>
				</tr>
			</tbody>
		</table>

	</div>








	<table class="s4-wpTopTable" border="0" cellpadding="0" cellspacing="0" width="100%">
		<tbody>
			<tr>
				<td valign="top">
					<div webpartid="00000000-0000-0000-0000-000000000000" haspers="true" id="WebPartWPQ5" width="100%" class="ms-WPBody noindex" onlyformepart="true" allowdelete="false" style="">
						<table id="ctl00_PlaceHolderMain_g_9c2fcdee_c49c_4175_beef_663ce9f36f9c" cellpadding="0" cellspacing="0" border="0" width="100%">
							<tbody>
								<tr>
									<td>
										<div xmlns:rs="urn:schemas-microsoft-com:rowset" xmlns:z="#RowsetSchema">

											<div id="ctl00_m_g_4128a2cb_499e_4725_b026_5d66c7c2bd1f_ctl00_Panel_Chinh" class="ndiv">
												{{#each (first danh_sach_banner.banner_goc_phai_trang_chu 4)}}
												<div class="div-image">
													<div class="allowMenu">
														<a href="{{this.duong_dan}}" target="_blank" alt=""><img style="BORDER-RIGHT-WIDTH: 0px; WIDTH: 100%px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px" src="{{this.hinh_anh}}"></a>
													</div>
												</div>
												{{/each}}

												<!-- <ul class="style-ul">
													<li ><a href="/tiep-cong-dan-&-xu-ly-don-thu/ubnd-huyen-dak-song/">UBND huyện Đắk Song</a></li>
													<li><a href="/tiep-cong-dan-&-xu-ly-don-thu/ubnd-thi-tran-duc-an/">UBND thị trấn Đức An</a></li>
													<li><a href="/tiep-cong-dan-&-xu-ly-don-thu/ubnd-xa-nam-n-jang/">UBND xã Nâm N'Jang</a></li>
													<li><a href="/tiep-cong-dan-&-xu-ly-don-thu/ubnd-xa-thuan-ha/">UBND xã Thuận Hà</a></li>
													<li><a href="/tiep-cong-dan-&-xu-ly-don-thu/ubnd-xa-thuan-hanh/">UBND xã Thuận Hạnh</a></li>
													<li><a href="/tiep-cong-dan-&-xu-ly-don-thu/ubnd-xa-truong-xuan/">UBND xã Trường Xuân</a></li>
													<li><a href="/tiep-cong-dan-&-xu-ly-don-thu/ubnd-xa-dak-hoa/">UBND xã Đắk Hoà</a></li>
													<li><a href="/tiep-cong-dan-&-xu-ly-don-thu/ubnd-xa-dak-mol/">UBND xã Đắk Môl</a></li>
													<li><a href="/tiep-cong-dan-&-xu-ly-don-thu/ubnd-xa-dak-n-drung/">UBND xã Đắk N’Drung</a></li>
													<li><a href="/tiep-cong-dan-&-xu-ly-don-thu/ubnd-xa-nam-binh/">UBND xã Nam Bình</a></li>
												</ul> -->

												{{#each (last danh_sach_banner.banner_goc_phai_trang_chu 7)}}
												<div class="div-image">
													<div class="allowMenu">
														<a href="{{this.duong_dan}}" target="_blank" alt=""><img style="BORDER-RIGHT-WIDTH: 0px; WIDTH: 100%px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px" src="{{this.hinh_anh}}"></a>
													</div>
												</div>
												{{/each}}

											<div id="ctl00_m_g_4128a2cb_499e_4725_b026_5d66c7c2bd1f_ctl00_Panel_openPopup">
												<span style="DISPLAY: none">
			<menu id="ctl00_m_g_4128a2cb_499e_4725_b026_5d66c7c2bd1f_ctl00_MnPopupLinkLienKet">
				<ie:menuitem id="ctl00_m_g_4128a2cb_499e_4725_b026_5d66c7c2bd1f_ctl00_mitAdminLinkLienket" menugroupid="2147483647" text="Quản trị" onmenuclick="STSNavigate2(event,'#postbyword');" iconsrc="/_LAYOUTS/LacVietBio/EOFFICEIMG/editnews.gif" type="option"></ie:menuitem>
			</menu>
		</span>
												<table border="0" cellspacing="0" cellpadding="0" width="100%" height="100%">

												</table>
											</div>
											<img style="POSITION: absolute; BORDER-RIGHT-WIDTH: 0px; WIDTH: 1px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 1px; BORDER-LEFT-WIDTH: 0px" id="ctl00_m_g_4128a2cb_499e_4725_b026_5d66c7c2bd1f_ctl00_img_hinh" src="_layouts/images/blank.gif">
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</td>
			</tr>
		</tbody>
	</table>


<table class="s4-wpTopTable" border="0" cellpadding="0" cellspacing="0" width="100%">
		<tbody>
			<tr>
				<td valign="top">
					<div webpartid="00000000-0000-0000-0000-000000000000" haspers="true" id="WebPartWPQ4" width="100%" class="ms-WPBody noindex" onlyformepart="true" allowdelete="false" style="">
						<table id="ctl00_PlaceHolderMain_g_d7266b72_1986_4f87_9fe0_518f56ab4012" cellpadding="0" cellspacing="0" border="0" width="100%">
							<tbody>
								<tr>
									<td>
										<div class="videobox" xmlns:rs="urn:schemas-microsoft-com:rowset" xmlns:z="#RowsetSchema">
											<div class="videobox-content">
												<div class="videobox-title"><a href="">Thư viện Video</a></div>
												
												
												<div class="mediaItems">
													<ul class="ul-mediaItem">
														 {{#each (lookup (lookupCategory AllCategory 'thu-vien-video') 'files') }}
														   <li class="li-mediaItem"  urlimage="HinhDaiDienVideo/_w/toquoc_jpg.jpg"> <a href="{{slug}}" >{{title}}</a></li>
													     {{/each}}
														
													</ul>
												</div>
											</div>
										</div>

									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</td>
			</tr>
		</tbody>
	</table>

	<table class="s4-wpTopTable" border="0" cellpadding="0" cellspacing="0" width="100%">
		<tbody>
			<tr>
				<td valign="top">
					<div webpartid="00000000-0000-0000-0000-000000000000" haspers="true" id="WebPartWPQ6" width="100%" class="ms-WPBody noindex" onlyformepart="true" allowdelete="false" style="">
						<table id="ctl00_PlaceHolderMain_g_c1fe138c_a453_4212_b4af_4856238be783" cellpadding="0" cellspacing="0" border="0" width="100%">
							<tbody>
								<tr>
									<td>


										<script type="text/javascript">
											$(document).ready(function() {

												$('#ctl00_PlaceHolderMain_g_c1fe138c_a453_4212_b4af_4856238be783_ctl00_DropDownList1').change(function() {
													var codelocation = $(this).val();

													// Mở ra một trang mới ngay tại trang hiện hành
													//window.location = codelocation;
													// Mở ra một tab mới kế bên trang hiện hành
													// window.open(codelocation)
													// Mở ra một popup
													//window.open(codelocation, "poop", "height=200,width=200,modal=yes,alwaysRaised=yes");

													if (codelocation != '') {

														var expression = '1';
														switch (expression) {
															case '0':
																window.location = codelocation;
																break;
															case '1':
																window.open(codelocation);
																break;
															case '2':
																window.open(codelocation, "poop", "height=600,width=800,modal=yes,alwaysRaised=yes");
																break;
															default:
																alert('Ko co gi het');
														}
													}

												});
											});
										</script>
										<div class="linkweb">
											<div class="linkweb-title">
												Liên kết Website
											</div>
											<div class="linkweb-cnt">
												<select name="ctl00$PlaceHolderMain$g_c1fe138c_a453_4212_b4af_4856238be783$ctl00$DropDownList1" style="width: 100%" id="ctl00_PlaceHolderMain_g_c1fe138c_a453_4212_b4af_4856238be783_ctl00_DropDownList1" class="dvnduyLinkWeb">
	<option value="">-------- Liên kết web --------</option>
	
	<option value="http://congbao.daknong.gov.vn">Công báo tỉnh Đăk Nông</option>
	<option value="http://nld.com.vn/">Báo Người lao động</option>
	<option value="http://daknong.gov.vn/Pages/default.aspx">UBND tinh DakNong</option>
	<option value="http://danhba.daknong.gov.vn/">Danh ba hop thu cong vu tinh Dak Nong</option>


</select>
											</div>
										</div>


									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</td>
			</tr>
		</tbody>
	</table>

	<table class="s4-wpTopTable" border="0" cellpadding="0" cellspacing="0" width="100%">
		<tbody>
			<tr>
				<td valign="top">
					<div webpartid="00000000-0000-0000-0000-000000000000" haspers="true" id="WebPartWPQ7" width="100%" class="ms-WPBody noindex" onlyformepart="true" allowdelete="false" style="">
						<table id="ctl00_PlaceHolderMain_g_e16dc05d_a599_462d_bb33_17883515a2c5" cellpadding="0" cellspacing="0" border="0" width="100%">
							<tbody>
								<tr>
									<td>




										<div class="TruyCapOnLine">
											<div class="ThongKeTruyCap">
												<div class="dvHit-main">
													<div class="divHitCount">
														<div class="HitTitle">
															<h3>
					SỐ LƯỢT TRUY CẬP</h3>
														</div>
														<div class="HitCount-content">
															<table cellpadding="0" cellspacing="0" width="100%">
																<tbody>
																	<tr>
																		<td class="Hit-solan" align="center">
																			<table id="ctl00_PlaceHolderMain_g_e16dc05d_a599_462d_bb33_17883515a2c5_ctl00_dtlHitCounter" cellspacing="0" border="0" height="10">
																				<tbody>
																					<tr>
																						<td align="center" height="10">
																							<table cellpadding="0" cellspacing="0" class="tb-HitCount">
																								<tbody>
																									<tr>
																										<td align="center" valign="top" class="background-img">
																											<div class="font-number">
																												3</div>
																										</td>
																									</tr>
																								</tbody>
																							</table>
																						</td>
																						<td align="center" height="10">
																							<table cellpadding="0" cellspacing="0" class="tb-HitCount">
																								<tbody>
																									<tr>
																										<td align="center" valign="top" class="background-img">
																											<div class="font-number">
																												5</div>
																										</td>
																									</tr>
																								</tbody>
																							</table>
																						</td>
																						<td align="center" height="10">
																							<table cellpadding="0" cellspacing="0" class="tb-HitCount">
																								<tbody>
																									<tr>
																										<td align="center" valign="top" class="background-img">
																											<div class="font-number">
																												2</div>
																										</td>
																									</tr>
																								</tbody>
																							</table>
																						</td>
																						<td align="center" height="10">
																							<table cellpadding="0" cellspacing="0" class="tb-HitCount">
																								<tbody>
																									<tr>
																										<td align="center" valign="top" class="background-img">
																											<div class="font-number">
																												1</div>
																										</td>
																									</tr>
																								</tbody>
																							</table>
																						</td>
																						<td align="center" height="10">
																							<table cellpadding="0" cellspacing="0" class="tb-HitCount">
																								<tbody>
																									<tr>
																										<td align="center" valign="top" class="background-img">
																											<div class="font-number">
																												6</div>
																										</td>
																									</tr>
																								</tbody>
																							</table>
																						</td>
																						<td align="center" height="10">
																							<table cellpadding="0" cellspacing="0" class="tb-HitCount">
																								<tbody>
																									<tr>
																										<td align="center" valign="top" class="background-img">
																											<div class="font-number">
																												9</div>
																										</td>
																									</tr>
																								</tbody>
																							</table>
																						</td>
																						<td align="center" height="10">
																							<table cellpadding="0" cellspacing="0" class="tb-HitCount">
																								<tbody>
																									<tr>
																										<td align="center" valign="top" class="background-img">
																											<div class="font-number">
																												7</div>
																										</td>
																									</tr>
																								</tbody>
																							</table>
																						</td>
																					</tr>
																				</tbody>
																			</table>
																		</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
												</div>



												<div class="dvHit-main">
													<div class="divHitCount-online">
														<div class="HitTitle">
															<h3>
					SỐ LƯỢT ĐANG ONLINE</h3>
														</div>
														<div class="HitCount-content">
															<table cellpadding="0" cellspacing="0" width="100%">
																<tbody>
																	<tr>
																		<td class="Hit-solan" align="center">
																			<table id="ctl00_PlaceHolderMain_g_e16dc05d_a599_462d_bb33_17883515a2c5_ctl00_DataList1" cellspacing="0" border="0" height="10">
																				<tbody>
																					<tr>
																						<td align="center" height="10">
																							<table cellpadding="0" cellspacing="0" class="tb-HitCount">
																								<tbody>
																									<tr>
																										<td align="center" valign="top" class="background-img">
																											<div class="font-number">
																												0</div>
																										</td>
																									</tr>
																								</tbody>
																							</table>
																						</td>
																						<td align="center" height="10">
																							<table cellpadding="0" cellspacing="0" class="tb-HitCount">
																								<tbody>
																									<tr>
																										<td align="center" valign="top" class="background-img">
																											<div class="font-number">
																												0</div>
																										</td>
																									</tr>
																								</tbody>
																							</table>
																						</td>
																						<td align="center" height="10">
																							<table cellpadding="0" cellspacing="0" class="tb-HitCount">
																								<tbody>
																									<tr>
																										<td align="center" valign="top" class="background-img">
																											<div class="font-number">
																												0</div>
																										</td>
																									</tr>
																								</tbody>
																							</table>
																						</td>
																						<td align="center" height="10">
																							<table cellpadding="0" cellspacing="0" class="tb-HitCount">
																								<tbody>
																									<tr>
																										<td align="center" valign="top" class="background-img">
																											<div class="font-number">
																												0</div>
																										</td>
																									</tr>
																								</tbody>
																							</table>
																						</td>
																						<td align="center" height="10">
																							<table cellpadding="0" cellspacing="0" class="tb-HitCount">
																								<tbody>
																									<tr>
																										<td align="center" valign="top" class="background-img">
																											<div class="font-number">
																												0</div>
																										</td>
																									</tr>
																								</tbody>
																							</table>
																						</td>
																						<td align="center" height="10">
																							<table cellpadding="0" cellspacing="0" class="tb-HitCount">
																								<tbody>
																									<tr>
																										<td align="center" valign="top" class="background-img">
																											<div class="font-number">
																												0</div>
																										</td>
																									</tr>
																								</tbody>
																							</table>
																						</td>
																						<td align="center" height="10">
																							<table cellpadding="0" cellspacing="0" class="tb-HitCount">
																								<tbody>
																									<tr>
																										<td align="center" valign="top" class="background-img">
																											<div class="font-number">
																												7</div>
																										</td>
																									</tr>
																								</tbody>
																							</table>
																						</td>
																					</tr>
																				</tbody>
																			</table>
																		</td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
												</div>
											</div>
										</div>


									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</td>
			</tr>
		</tbody>
	</table>

		


</div>