<div id="ctl00_g_5a98f478_4f49_4a9d_acad_af6c773cdc07_ctl00_myPanel">
    <div class="navList">
        <ul class="style-ul">
            <li><a href="/tiep-cong-dan-&amp;-xu-ly-don-thu/ubnd-huyen-dak-song/">UBND huyện Đắk Song</a></li>
            <li><a href="/tiep-cong-dan-&amp;-xu-ly-don-thu/ubnd-thi-tran-duc-an/">UBND thị trấn Đức An</a></li>
            <li><a href="/tiep-cong-dan-&amp;-xu-ly-don-thu/ubnd-xa-nam-n-jang/">UBND xã Nâm N'Jang</a></li>
            <li><a href="/tiep-cong-dan-&amp;-xu-ly-don-thu/ubnd-xa-thuan-ha/">UBND xã Thuận Hà</a></li>
            <li><a href="/tiep-cong-dan-&amp;-xu-ly-don-thu/ubnd-xa-thuan-hanh/">UBND xã Thuận Hạnh</a></li>
            <li><a href="/tiep-cong-dan-&amp;-xu-ly-don-thu/ubnd-xa-truong-xuan/">UBND xã Trường Xuân</a></li>
            <li><a href="/tiep-cong-dan-&amp;-xu-ly-don-thu/ubnd-xa-dak-hoa/">UBND xã Đắk Hoà</a></li>
            <li><a href="/tiep-cong-dan-&amp;-xu-ly-don-thu/ubnd-xa-dak-mol/">UBND xã Đắk Môl</a></li>
            <li><a href="/tiep-cong-dan-&amp;-xu-ly-don-thu/ubnd-xa-dak-n-drung/">UBND xã Đắk N’Drung</a></li>
            <li><a href="/tiep-cong-dan-&amp;-xu-ly-don-thu/ubnd-xa-nam-binh/">UBND xã Nam Bình</a></li>
        </ul>
            <li class="ms-navSubMenu" id="li0_06edd618-4422-45df-9d7f-626e7dbaafe9">
                <div class="first-ms-navheader ms-navheader" onclick="toggleMenu(this.parentNode.getElementsByTagName('UL')[0])">
                    <div class="div-link-navheader"><span class="linkEmpty">TIN TỨC SỰ KIỆN 
                    
                        </span></div>
                </div>
                <ul class="classshow" lienket="" id="ul0_06edd618-4422-45df-9d7f-626e7dbaafe9">
                   
                    {{#each (lookup (lookupCategory AllCategory 'tin-tuc-su-kien')'children')}}
                    <li id="li1_72e9b6c3-937e-4691-aa84-eda56b4fb7be">
                        <div class="ms-navItem first-ms-navItem">
                            <div class="div-leftsubmenu"><a href="{{href}}" class="leftsubmenu" target="_self"> {{displayName}}</a></div>
                        </div>
                    </li>
                    {{/each}} 

                </ul>
            </li>
            <li class="ms-navSubMenu" id="li0_06edd618-4422-45df-9d7f-626e7dbaafe9">
                <div class="first-ms-navheader ms-navheader" onclick="toggleMenu(this.parentNode.getElementsByTagName('UL')[0])">
                    <div class="div-link-navheader"><span class="linkEmpty">Thông tin chỉ đạo</span></div>
                </div>
                <ul class="classshow" lienket="" id="ul0_06edd618-4422-45df-9d7f-626e7dbaafe9">
                   {{#each (lookup (lookupCategory AllCategory 'thong-tin-chi-dao')'children')}}
                    <li id="li1_72e9b6c3-937e-4691-aa84-eda56b4fb7be">
                        <div class="ms-navItem first-ms-navItem">
                            <div class="div-leftsubmenu"><a href="{{href}}" class="leftsubmenu" target="_self"> {{displayName}}</a></div>
                        </div>
                    </li>
                    {{/each}} 

                    

                </ul>
            </li>
              <li class="ms-navSubMenu" id="li0_06edd618-4422-45df-9d7f-626e7dbaafe9">
              
                <ul class="classshow" lienket="" id="ul0_06edd618-4422-45df-9d7f-626e7dbaafe9">
                   {{#each (lookup (lookupCategory AllCategory 'thong-bao-giay-moi')'children')}}
                    <li id="li1_72e9b6c3-937e-4691-aa84-eda56b4fb7be">
                        <div class="ms-navItem first-ms-navItem">
                            <div class="div-leftsubmenu"><a href="{{href}}" class="leftsubmenu" target="_self"> {{displayName}}</a></div>
                        </div>
                    </li>
                    {{/each}} 

                    

                </ul>
            </li>
              <li class="ms-navSubMenu" id="li0_06edd618-4422-45df-9d7f-626e7dbaafe9">
                <div class="first-ms-navheader ms-navheader" onclick="toggleMenu(this.parentNode.getElementsByTagName('UL')[0])">
                    <div class="div-link-navheader"><span class="linkEmpty">Định hướng phát triển</span></div>
                </div>
                <ul class="classshow" lienket="" id="ul0_06edd618-4422-45df-9d7f-626e7dbaafe9">
                   {{#each (lookup (lookupCategory AllCategory 'dinh-huong-phat-trien')'children')}}
                    <li id="li1_72e9b6c3-937e-4691-aa84-eda56b4fb7be">
                        <div class="ms-navItem first-ms-navItem">
                            <div class="div-leftsubmenu"><a href="{{href}}" class="leftsubmenu" target="_self"> {{displayName}}</a></div>
                        </div>
                    </li>
                    {{/each}} 

                    

                </ul>
            </li>
             <li class="ms-navSubMenu" id="li0_06edd618-4422-45df-9d7f-626e7dbaafe9">
                <div class="first-ms-navheader ms-navheader" onclick="toggleMenu(this.parentNode.getElementsByTagName('UL')[0])">
                    <div class="div-link-navheader"><span class="linkEmpty">Văn bản Pháp luật</span></div>
                </div>
                <ul class="classshow" lienket="" id="ul0_06edd618-4422-45df-9d7f-626e7dbaafe9">
                   {{#each (lookup (lookupCategory AllCategory 'van-ban-phap-luat')'children')}}
                    <li id="li1_72e9b6c3-937e-4691-aa84-eda56b4fb7be">
                        <div class="ms-navItem first-ms-navItem">
                            <div class="div-leftsubmenu"><a href="{{href}}" class="leftsubmenu" target="_self"> {{displayName}}</a></div>
                        </div>
                    </li>
                    {{/each}} 

                    

                </ul>
            </li>
          
           
        </ul>
    </div>
</div>