<div id="ctl00_g_5a98f478_4f49_4a9d_acad_af6c773cdc07_ctl00_myPanel">
    <div class="navList">
        <ul class="ms-quickLaunch" id="menuproduct_b897631c-a511-436c-b5d3-28b75b851864" onload="collapseMenu(null,'menuproduct_b897631c-a511-436c-b5d3-28b75b851864')">
            
            <li class="ms-navSubMenu" id="li0_06edd618-4422-45df-9d7f-626e7dbaafe9">
                <div class="allowMenu">
                                       <a href="#" target="_blank" alt=""><img style="BORDER-RIGHT-WIDTH: 0px; WIDTH: 100%px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px" src="/hinh-anh/banner/hcm.jpg"></a>
                                   </div>
                </ul>
            </li>
            <li class="ms-navSubMenu" id="li0_06edd618-4422-45df-9d7f-626e7dbaafe9">
                <div class="first-ms-navheader ms-navheader" onclick="toggleMenu(this.parentNode.getElementsByTagName('UL')[0])">
                    <div class="div-link-navheader"><span class="linkEmpty">TIN TỨC SỰ KIỆN 
                    
                        </span></div>
                </div>
                <ul class="classshow" lienket="" id="ul0_06edd618-4422-45df-9d7f-626e7dbaafe9">
                   
                    {{#each (lookup (lookupCategory AllCategory 'tin-tuc-su-kien')'children')}}
                    <li id="li1_72e9b6c3-937e-4691-aa84-eda56b4fb7be">
                        <div class="ms-navItem first-ms-navItem">
                            <div class="div-leftsubmenu"><a href="{{href}}" class="leftsubmenu" target="_self"> {{displayName}}</a></div>
                        </div>
                    </li>
                    {{/each}} 

                </ul>
            </li>
            <li class="ms-navSubMenu" id="li0_06edd618-4422-45df-9d7f-626e7dbaafe9">
                <div class="first-ms-navheader ms-navheader" onclick="toggleMenu(this.parentNode.getElementsByTagName('UL')[0])">
                    <div class="div-link-navheader"><span class="linkEmpty">Thông tin chỉ đạo</span></div>
                </div>
                <ul class="classshow" lienket="" id="ul0_06edd618-4422-45df-9d7f-626e7dbaafe9">
                   {{#each (lookup (lookupCategory AllCategory 'thong-tin-chi-dao')'children')}}
                    <li id="li1_72e9b6c3-937e-4691-aa84-eda56b4fb7be">
                        <div class="ms-navItem first-ms-navItem">
                            <div class="div-leftsubmenu"><a href="{{href}}" class="leftsubmenu" target="_self"> {{displayName}}</a></div>
                        </div>
                    </li>
                    {{/each}} 

                    

                </ul>
            </li>
              <li class="ms-navSubMenu" id="li0_06edd618-4422-45df-9d7f-626e7dbaafe9">
                <div class="first-ms-navheader ms-navheader" onclick="toggleMenu(this.parentNode.getElementsByTagName('UL')[0])">
                    <div class="div-link-navheader"><span class="linkEmpty">Thông báo giấy mời</span></div>
                </div>
                <ul class="classshow" lienket="" id="ul0_06edd618-4422-45df-9d7f-626e7dbaafe9">
                   {{#each (lookup (lookupCategory AllCategory 'thong-bao-giay-moi')'children')}}
                    <li id="li1_72e9b6c3-937e-4691-aa84-eda56b4fb7be">
                        <div class="ms-navItem first-ms-navItem">
                            <div class="div-leftsubmenu"><a href="{{href}}" class="leftsubmenu" target="_self"> {{displayName}}</a></div>
                        </div>
                    </li>
                    {{/each}} 

                    

                </ul>
            </li>
              <li class="ms-navSubMenu" id="li0_06edd618-4422-45df-9d7f-626e7dbaafe9">
                <div class="first-ms-navheader ms-navheader" onclick="toggleMenu(this.parentNode.getElementsByTagName('UL')[0])">
                    <div class="div-link-navheader"><span class="linkEmpty">Định hướng phát triển</span></div>
                </div>
                <ul class="classshow" lienket="" id="ul0_06edd618-4422-45df-9d7f-626e7dbaafe9">
                   {{#each (lookup (lookupCategory AllCategory 'dinh-huong-phat-trien')'children')}}
                    <li id="li1_72e9b6c3-937e-4691-aa84-eda56b4fb7be">
                        <div class="ms-navItem first-ms-navItem">
                            <div class="div-leftsubmenu"><a href="{{href}}" class="leftsubmenu" target="_self"> {{displayName}}</a></div>
                        </div>
                    </li>
                    {{/each}} 

                    

                </ul>
            </li>
             <li class="ms-navSubMenu" id="li0_06edd618-4422-45df-9d7f-626e7dbaafe9">
                <div class="first-ms-navheader ms-navheader" onclick="toggleMenu(this.parentNode.getElementsByTagName('UL')[0])">
                    <div class="div-link-navheader"><span class="linkEmpty">Văn bản Pháp luật</span></div>
                </div>
                <ul class="classshow" lienket="" id="ul0_06edd618-4422-45df-9d7f-626e7dbaafe9">
                   {{#each (lookup (lookupCategory AllCategory 'van-ban-phap-luat')'children')}}
                    <li id="li1_72e9b6c3-937e-4691-aa84-eda56b4fb7be">
                        <div class="ms-navItem first-ms-navItem">
                            <div class="div-leftsubmenu"><a href="{{href}}" class="leftsubmenu" target="_self"> {{displayName}}</a></div>
                        </div>
                    </li>
                    {{/each}} 

                    

                </ul>
            </li>
          
           
        </ul>
    </div>
</div>