{{#extend "body"}} {{#content "main"}}


<div id="s4-mainarea1" class="s4-pr s4-widecontentarea">

    <div class="snMain">

        <div class="snLeft">




           <div id="ctl00_g_5a98f478_4f49_4a9d_acad_af6c773cdc07">



                            <!-- <link type="text/css" href="/_CONTROLTEMPLATES/LacViet.CMS.ViewPageManager/css/style_left_menu.css" rel="stylesheet" /> -->
                            <script type='text/javascript' src='/_CONTROLTEMPLATES/LacViet.CMS.ViewPageManager/js/jquery-1.4.1.js'></script>


                            <script type="text/javascript">
                                var jLeftMenu = jQuery.noConflict();
                                jLeftMenu(function($) {

                                    $(document).ready(function() {

                                        $('div.ms-navheader').each(function() {
                                            var childs = $(this).siblings('ul');
                                            if (childs.html() == null || childs.html() == "")
                                                $(this).attr("onclick", "#");

                                        });

                                        var CurrentPath = jLeftMenu.trim(jLeftMenu("div#LeftMenuWebName").text());
                                        var CurrentHomeChild = jLeftMenu("a.leftsubmenu[href*='" + CurrentPath + "']");
                                        CurrentHomeChild.parent().parent().parent().addClass("classshow");

                                    });


                                    $("div.ms-navheader").mouseover(function() {

                                        $(this).addClass("heading-hover");

                                    }).mouseout(function() {
                                        $(this).removeClass("heading-hover");
                                    });
                                    $("div.ms-navheader-icon").mouseover(function() {
                                        $(this).addClass("heading-hover");

                                    }).mouseout(function() {
                                        $(this).removeClass("heading-hover");
                                    });
                                    $("div.ms-navItem").mouseover(function() {
                                        $(this).addClass("ms-navItem-hover");
                                    }).mouseout(function() {
                                        $(this).removeClass("ms-navItem-hover");
                                    });
                                    $("div.ms-navItem-icon").mouseover(function() {
                                        $(this).addClass("ms-navItem-hover");
                                    }).mouseout(function() {
                                        $(this).removeClass("ms-navItem-hover");
                                    });
                                });
                            </script>
                            <div id="LeftMenuWebName" style="display:none">
                                TinTuc
                            </div>
                            {{#block "menu_phai"}} {{> menu_phai}} {{/block}}




                        </div>



        </div>
        <div class="snCenter">

        <div class="postMain">

                {{#block "main-body"}} {{{contents}}} {{/block}}




                <div id="ctl00_m_g_35ca937d_f24c_4b50_aec9_3ea1f56ddcae_ctl00_Panel1" style="display: none;height:0;position: absolute;">

                    <table cellspacing="0" cellpadding="0" border="0" width="100%" height="100%">
                        <span style="display:none"><menu type='ServerMenu' id="ctl00_m_g_35ca937d_f24c_4b50_aec9_3ea1f56ddcae_ctl00_MnTmpMainPopuphhtml">
            <ie:menuitem id="ctl00_m_g_35ca937d_f24c_4b50_aec9_3ea1f56ddcae_ctl00_mitAdminHtml" type="option" iconSrc="_LAYOUTS/LacVietBio/EOFFICEIMG/news.gif" text="Th&#234;m mới" menuGroupId="2147483647"></ie:menuitem>

             <ie:menuitem id="ctl00_m_g_35ca937d_f24c_4b50_aec9_3ea1f56ddcae_ctl00_mitEdit" type="option" iconSrc="_LAYOUTS/LacVietBio/EOFFICEIMG/editnews.gif" text="Chỉnh sửa" menuGroupId="2147483647"></ie:menuitem>

        </menu></span>

                    </table>

                </div>
                <img id="ctl00_m_g_35ca937d_f24c_4b50_aec9_3ea1f56ddcae_ctl00_ImgDynamic" src="_layouts/images/blank.gif" style="height:1px;width:1px;border-width:0px;position: absolute;" />
            </div>
        </div>
        </td>
        </tr>
        </table>
        </td>
        </tr>
        </table>

    </div>
    <script type="text/javascript">
        // <![CDATA[
        JSRequest.EnsureSetup();
        var cid = JSRequest.QueryString["ID"];
        var page = JSRequest.FileName;
        if (cid != null && page == "Category.aspx") {
            var categoryEl = document.getElementById("ms-CategoryTitle-" + cid);
            if (categoryEl != null) {
                var titlePlaceHolderEl = document.getElementById("ms-ProjectTitlePlaceHolder");
                if (titlePlaceHolderEl != null) {
                    titlePlaceHolderEl.innerHTML = categoryEl.innerHTML;
                }
            }
        }
        var pageTitleSeparator = document.getElementById("onetidPageTitleSeparator");
        if (pageTitleSeparator != null) {
            pageTitleSeparator.innerHTML = "";
        }
        var _normalizedPageUrlForSocialItem = "";
        if (cid != null) {
            _normalizedPageUrlForSocialItem = window.location.href.split("?")[0].replace(/\/Post\.aspx$/i, "/ViewPost.aspx") + "?ID=" + cid;
        }
        // ]]>
    </script>


</div>
<div class="snRight">
   {{> right-post-banner}}
</div>
</div>

{{/content}} {{/extend}}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
<script
  src="http://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

<script>